/* You can add global styles to this file, and also import other style files */
$color-1 : #fcfcfc;
$color-2: #FF9800;
$max-width: 767px;

body {
  margin-bottom: 10px;
  background-color: #fafafa;
}
h5{
  margin: auto;
  font-weight: 400;
}
p{
  margin-bottom: 8px !important
}
table{
  border: 0px !important;
  width: 50%;
}

th{
  text-align: center;
  background-color: #555 !important;
  color: $color-1 !important;
  font-weight: normal;
  padding: 5px 0 !important;
  border: 0px solid !important;
  border-right: 1px solid !important;
  &:hover{
    background-color: $color-2 !important;
  }
}
tr{
  text-align: center;
  background-color: $color-1 !important;
  border: none;
  &:hover{
    background-color: $color-2 !important;
    cursor: pointer;
  }td{
    border: none !important;
    border-bottom: 1px solid #eee !important;
    padding: 10px 0 !important;
  }
}
button{
  background-color: #eee;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  &:hover{
    background-color: $color-2 !important;
    color: #000;
  }
}
input, select{
  //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}

.input-group {
  margin-bottom: 15px;
}
.productsColumn{
  display: flex;
  flex-direction: column;
  flex: 4;
  padding-right: 2%;
  table{
    width: 100% !important;
  }
}
.rightColumn{
  display: flex;
  flex-direction: column;
  flex: 6;
  width: 100%;
}
//Navigation styling-------------------
.navbar{
  z-index: 10;
  box-shadow: 0px 3px 5px #222;
  border-radius: 0;
  max-width: 100%;
  background-color: #333 !important;
  .nav{
    display: flex;
    justify-content: center;
    a{
      &:hover{
        color: $color-2 !important;
      }
      padding: 0 20px;
    }.nav-item{
      padding: 10px 20px;
      @media screen and (max-width: $max-width) {
        padding: 10px 0;
      }
    }
  }
}
.flexSpacer{
  flex: 1;
  flex-grow: 1;
}

// End nav ------------
//Some product page style (easier to put this here)
.createProductButton{
  border-radius: 3px;
  display: block;
  margin: auto;
  width: 170px;
  height: 50px;
  color: #000;
  background-color: #FF9800;
  h5{
    font-weight: 200;
  }
  cursor: pointer;
  &:hover{
    color: #fff;
  }
}
.productsAllComponents{
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $max-width) {
    flex-direction: column;
  }
}
.horizontalScroll{
  overflow: auto;
  white-space: nowrap;
}

.smallBottomMargin{
  margin-bottom: 10px !important;
}
.mediumBottomMargin{
  margin-bottom: 25px !important;
}
.largeBottomMargin{
  margin-bottom: 50px !important;
}

.sideMargin{
  margin: 0 10px;
}
.spanWidth{
  width: 100%;
}
.centerText{
  text-align: center;
}
.addSomethingPopup{
  padding: 20px;
}
.largeButton{
  padding: 5px 25px;
}
.inputBtn{
  min-height: 40px;
}
.descriptionField{
  overflow: auto;
  max-width: 620px;
  overflow-wrap: break-word;
}
.clickable{
  cursor: pointer;
}
.bgOrange{
  background-color: $color-2 !important;
}
.styleThis{
  color: $color-1 !important;
  background-color: $color-2 !important;
}
.invisible{
  opacity: 0;
}
.hoverHighlight{
  &:hover{
    background-color: $color-2 !important;
    color: #000;
  }
}
.active{
  color: $color-2 !important;
}
.darkBg{
  margin-left: 25px;
  background-color: #bbb;
  color: #333;
}
