/* You can add global styles to this file, and also import other style files */
$color-1 : #fcfcfc;
$color-2: #FF9800;

body {
  margin-bottom: 10px;
}

h5{
  margin: auto;
  font-weight: 400;
}
p{
  margin-bottom: 8px !important
}
table{
  border: 0px !important;
}
th{
  background-color: #555 !important;
  color: $color-1 !important;
  font-weight: normal;
  padding: 5px 0 !important;
  border: 0px solid !important;
  border-right: 1px solid !important;
  &:hover{
    background-color: $color-2 !important;
  }
}
tr{
  background-color: $color-1 !important;
  border: none;
  &:hover{
    background-color: $color-2 !important;
  }td{
    border: none !important;
    border-bottom: 1px solid #eee !important;
    padding: 10px 0 !important;
  }
}
button{
  background-color: #eee;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  &:hover{
    background-color: $color-2 !important;
    color: #000;
  }
}
input, select{
  //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}


.input-group {
  margin-bottom: 15px;
}
.productsColumn{
  display: flex;
  flex-direction: column;
  flex: 4;
  padding-right: 2%;
  table{
    width: 100% !important;
  }
}
.rightColumn{
  display: flex;
  flex-direction: column;
  flex: 6;
  width: 100%;
}
//Navigation styling-------------------
.navbar{
  border-radius: 0;
  max-width: 100%;
  background-color: #333 !important;
  .nav{
    display: flex;
    justify-content: center;
    a{
      &:hover{
        color: $color-2 !important;
      }
      padding: 0 20px;
    }
  }
}
.flexSpacer{
  flex: 1;
  flex-grow: 1;
}

// End nav ------------
.smallBottomMargin{
  margin-bottom: 10px !important;
}
.mediumBottomMargin{
  margin-bottom: 25px !important;
}
.largeBottomMargin{
  margin-bottom: 50px !important;
}
.sideMargin{
  margin: 0 10px;
}
.centerText{
  text-align: center;
}
.addSomethingPopup{
  padding: 20px;
}
.clickable{
  cursor: pointer;
}
.bgOrange{
  background-color: $color-2 !important;
}
.largeButton{
  padding: 5px 25px;
}
.styleThis{
  color: $color-1 !important;
  background-color: $color-2 !important;
}
.invisible{
  opacity: 0;
}
.hoverHighlight{
  &:hover{
    background-color: $color-2 !important;
    color: #000;
  }
}
