<app-loading [condition]="isLoading"></app-loading>

<div class="map-loading" *ngIf="!isLoading">
  <div class="map-container">
    <agm-map (centerChange)="updateMapCenter($event)" (zoomChange)="updateMapZoom($event)" [latitude]="init_lat" [longitude]="init_lng" [zoom]="zoom" [streetViewControl]="false">
      <agm-marker *ngFor="let user of users" [latitude]="user.latitude" [longitude]="user.longitude">
        <agm-info-window>
          <div class="info-window-content">
            {{user.username}}<br/> Products: {{user.products.length}}<br/>
            <button type="button" (click)="filterByUser(user._id)">Filter by user</button>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
