<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="productsPage" *ngIf="!isLoading">
  <br>
  <h2 class="centerText">All products</h2>
  <!-- Create new product button -->
  <app-create-product [isEditing]="isCreateFormOpen"></app-create-product>
  <button class="createProductButton" (click)="isCreateFormOpen = !isCreateFormOpen">Create product</button>



  <!-- Product list component _________________________________________________________ -->
  <!-- Search component -->
  <div class="form-inline">
    <!-- name search -->
    <div class="searchFields">
      <input
      class="form-control"
      placeholder="Search for a product"
      [(ngModel)]="query"
      (keyup.enter)="searchFromBox()"
      type="text"
      >
      <!-- min search -->
      <input
      class="form-control"
      type="number"
      min="0"
      step="100"
      placeholder="min price"
      [(ngModel)]="minPrice"
      (keyup.enter)="searchFromBox()"
      >
      <!-- max search -->
      <input
      class="form-control"
      type="number"
      min="0"
      step="100"
      placeholder="max price"
      [(ngModel)]="maxPrice"
      (keyup.enter)="searchFromBox()"
      >
      <button (click)="searchFromBox()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="productsAllComponents">
    <div class="card-block" class="productsColumn">

      <!-- The category filter works outside of search, should be separated -->
      <select class="form-control"  [(ngModel)]="selectedCategory" (ngModelChange)="filterByCategory($event)">
        <option selected value="default" >--Select a category--</option>
        <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
      </select>

      <!-- Products list -->
      <table class="table table-bordered table-striped">
        <thead class="thead-default">
          <tr>
            <th>Name <button (click)="sortBy('name')">¤</button></th>
            <th>Price <button (click)="sortBy('price')">¤</button></th>
          </tr>
        </thead>
        <tbody *ngIf="filteredProducts.length === 0">
          <tr>
            <td colspan="4">There are no products in the DB. Add a new product below.</td>
          </tr>
        </tbody>
        <tbody *ngIf="!isEditing">
          <tr *ngFor="let product of filteredProducts" (click)="updateDetailView(product)"> <!-- Generates a tr for each product in the db. -->
            <td>{{product.name}}</td>
            <td>{{product.price}} NOK</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- GOOGLE MAPS + card details (right column)________________________ -->
    <div class="rightColumn">
      <!-- Product details card -->
      <app-product-details [authenticated]="authenticated" [product]="productDetails.product" class="detailsCard"></app-product-details>
      <!-- Google maps Map -->
      <app-google-maps></app-google-maps>
    </div>

  </div>
  <div>
  <!-- Pagination component -->
  <app-pagination
    (goPage)="goToPage($event)"
    (goNext)="onNext()"
    (goPrev)="onPrev()"
    [pagesToShow]="totalPageNum"
    [page]="pageNum"
    [perPage]="listingsPerPage"
    [count]="totalListings"></app-pagination>
  </div>
</div>
