<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<button *ngIf="authenticated" class="createProductButton mediumBottomMargin" (click)="isEditing = !isEditing">Create product</button>
<button *ngIf="!authenticated" class="createProductButton mediumBottomMargin" routerLink="/register">Register</button>
<!-- Add new product  -->
<div class="background" *ngIf="authenticated && isEditing && !isLoading">
  <div class="card addSomethingPopup">
    <h2 class="centerText"> New product </h2>
    <div class="card-block">
      <form class="form-inline" [formGroup]="addProductForm" (ngSubmit)="addProduct()" style="text-align:center">
        <div class="form-group">
          <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="description" formControlName="description" placeholder="Description" min="0">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="price" formControlName="price" placeholder="Price" step="any" min="0">
        </div>
        <div class="form-group">
        <select class="form-control" [(ngModel)]="selectedCategory" formControlName="category">
          <option selected value="default">--Select a category--</option>
          <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
        </select>
        </div>
        <br><br>
        <button class="largeButton sideMargin" type="submit" [disabled]="!addProductForm.valid">add <i class="fa fa-plus"></i></button>
        <button class="largeButton sideMargin" (click)="isEditing = !isEditing" >close <i class="fa fa-times"></i></button>
      </form>
    </div>
  </div>
</div>
