.background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%
}

.card-header {
  display: flex;
  justify-content: space-between;
}


.createProductButton{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  color: #fff;
  background-color: #555;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: #666;
  }
}
