<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-block">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <label>Basic</label>
      <div class="input-group" [ngClass]="setClassUsername()">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
      </div>

      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <label>Contact information</label>
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
      </div>
      <div class="input-group" [ngClass]="setPhone()">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
        <span class="input-group-addon">+47</span>
        <input class="form-control" type="tel" name="phone" formControlName="phone" placeholder="Phone">
      </div>
      <label>Address (drag and drop the pointer)</label>
      <div class="input-group">
        <agm-map
          (centerChange)="updateMapCenter($event)"
          (zoomChange)="updateMapZoom($event)"
          (mapClick)="mapClick($event)"
          [latitude]="init_lat"
          [longitude]="init_lng"
          [zoom]="zoom"
          [streetViewControl]="false">
          <agm-marker
            (dragEnd)="mapClick($event)"
            [markerDraggable]="true"
            [latitude]="latitude.value"
            [longitude]="longitude.value"
          ></agm-marker>
        </agm-map>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i> </span>
        <input class="form-control" type="number" name="latitude" formControlName="latitude" placeholder="Latitude" disabled>
        <span class="input-group-addon">Latitude</span>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
        <input class="form-control" type="number" name="longitude" formControlName="longitude" placeholder="Longitude" disabled>
        <span class="input-group-addon">Longitude</span>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" [disabled]="isValid()"><i class="fa fa-user-plus"></i> Register</button>
    </form>
  </div>
</div>
