.detailsCard{
  border: 2px solid #ddd;
}

.cardHeader{
  background-color: #FF9800;
  color: #fff !important;
  display: flex;
  text-align: center;
  p{
    flex: 1;
  }h1,h2,h3,h4,h5,h6{
    flex: 6;
  }
}
.cardContent{
  padding: 15px;
}
.card{
  div{
    img{
      width: 150px;
      height: 150px;
    }
  }
}

.productsColumn{
  display: flex;
  flex: 1;
  table{
    width: 100%; //nice
  }
}
.productCardInfo{
  display: flex;
  flex-direction: row;
  div{
    flex: 1;
  }
}
.iconColor{
  color: #fff;
  padding: 10px 20px 10px 20px;
}
