<div *ngIf="!isEditing"  class="card">
  <div class="cardHeader">
    <button *ngIf="authenticated" (click)="enableEditing()">Edit</button>
    <h3>{{product.name}}</h3>
    <button *ngIf="authenticated" (click)="deleteProduct()">Delete</button>
  </div>

  <div>
    <strong>Description:</strong>{{product.description}} <br>
  </div>

  <div>
    <strong>Price:</strong>{{product.price}} <br>
    <img src={{product.image}} alt="no image available">
  </div>

  <div>
    <td *ngIf="product.user">{{product.user.username}}</td>
    <td *ngIf="product.category">{{product.category}}</td> <br>
    <button (click)="sendCoords(product.user.latitude, product.user.longitude)">Show user</button>
  </div>

</div>

<div *ngIf="isEditing" class="card">
  <form class="form-inline" [formGroup]="editProductForm"  (ngSubmit)="editProduct()" style="display:inline">
    <div class="form-group">
      <input class="form-control" type="text" formControlName="name" placeholder="Name" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="description" placeholder="Description" min="0" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="number" formControlName="price" placeholder="Price" step="any" min="0" required>
    </div>
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!editProductForm.valid"><i class="fa fa-floppy-o"></i> Save</button>
  </form>
  <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
</div>
