<app-loading [condition]="isLoading"></app-loading>

<div class="productsAllComponents">
  <!-- Product list component _________________________________________________________ -->

  <div class="card-block productsColumn horizontalScroll">
    <h4 class="card-header">My Products</h4>
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody *ngIf="user.products.length === 0">
        <tr>
          <td colspan="4">You don't have any products.</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let product of user.products"> <!-- Generates a tr for each product in the db. -->
          <td>{{product.name}}</td>
          <td>{{product.price}} NOK</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-block rightColumn horizontalScroll">
    <h4 class="card-header">Last 10 searches</h4>
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Search query:</th>
          <th>Min price:</th>
          <th>Max price:</th>
        </tr>
      </thead>
      <tbody *ngIf="searches.length === 0">
        <tr>
          <td colspan="4">You don't have any searches.</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let element of searches"> <!-- Generates a tr for each product in the db. -->
          <td>{{element.query}}</td>
          <td>{{element.minPrice}}</td>
          <td>{{element.maxPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
