<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Account settings</h4>
  <div class="card-block">
    <form  [formGroup]="userForm" #accountForm="ngForm" (ngSubmit)="save(user)">
      <label>User information</label>
      <div class="input-group" [ngClass]="setClassUsername()">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" formControlName="username" type="text" name="username" placeholder="Username">
        <span class="input-group-addon">Username</span>

      </div>
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" formControlName="email" type="email" name="email" placeholder="E-mail">
        <span class="input-group-addon">E-mail</span>

      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" formControlName="role" name="role">
          <option value="" disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="input-group" [ngClass]="setPhone()">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
        <span class="input-group-addon">+47</span>
        <input class="form-control" type="tel" name="phone" formControlName="phone" placeholder="Phone">
      </div>
      <label>Address (drag and drop the pointer)</label>
      <div class="input-group">
        <agm-map
          (centerChange)="updateMapCenter($event)"
          (zoomChange)="updateMapZoom($event)"
          (mapClick)="mapClick($event)"
          [latitude]="init_lat"
          [longitude]="init_lng"
          [zoom]="zoom"
          [streetViewControl]="false">
          <agm-marker
            (dragEnd)="mapClick($event)"
            [markerDraggable]="true"
            [latitude]="latitude.value"
            [longitude]="longitude.value"
            ></agm-marker>
        </agm-map>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i> </span>
        <input class="form-control" type="number" name="latitude" formControlName="latitude" placeholder="Latitude">
        <span class="input-group-addon">Latitude</span>
      </div>
      <div class="input-group mediumBottomMargin">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
        <input class="form-control" type="number" name="longitude" formControlName="longitude" placeholder="Longitude">
        <span class="input-group-addon">Longitude</span>
      </div>
      <button class="btn createProductButton spanWidth" type="submit" [disabled]="isValid()">
        <i class="fa fa-save"></i> Save changes
      </button>
    </form>
  </div>
  <h4 class="card-header">My Products</h4>
  <app-my-products></app-my-products>
</div>
